body {
  /*background-color: #ff33cc;*/
}

h1 {
  color:red;
  border: 1px solid green;
  background-color: yellow;
  font-family: monospace;
  font-size: 50px;
}
span {
   display: block;
   margin: 25px;
 }
